<mat-toolbar class="nav-Main">
  <div class="nav-btns">
    <button mat-stroked-button color="primary" [routerLink]="'first-tab'" routerLinkActive="activebutton">First</button>
    <button mat-stroked-button color="primary" [routerLink]="'/second'" routerLinkActive="activebutton">Second</button>
  </div>
  <div class="nav-btns">
    <button mat-stroked-button color="primary" routerLink="/users" routerLinkActive="activebutton">Users</button>
    <button mat-stroked-button color="primary" routerLink="/products" routerLinkActive="activebutton">Products</button>
    <button mat-stroked-button color="primary" [routerLink]="['profile', 123]" routerLinkActive="activebutton">Profile</button>
    <button mat-stroked-button color="primary">About</button>
    <button mat-stroked-button color="primary">Contact Us</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>