<mat-toolbar class="nav-Main">
  <div class="nav-btns">
    <button mat-stroked-button color="primary" [routerLink]="'first-tab'" routerLinkActive="activebutton">First</button>
    <button mat-stroked-button color="primary" [routerLink]="'/second'" routerLinkActive="activebutton">Second</button>
    <button mat-stroked-button color="primary" [routerLink]="'guards'" routerLinkActive="activebutton">Guards</button>
  </div>
  <div class="navigate-btn">
    <button mat-stroked-button color="warn" (click)="goBack()">Go Back</button>
    <button mat-stroked-button color="primary" (click)="redirectToHome()">Redirect to Home</button>
        <button mat-stroked-button color="warn" (click)="goForward()">Go Forward</button>
  </div>
  <div class="nav-btns">
    <button mat-stroked-button color="primary" routerLink="/users" routerLinkActive="activebutton">Users</button>
    <button mat-stroked-button color="primary" routerLink="/products" routerLinkActive="activebutton">Products</button>
    <button mat-stroked-button color="primary" [routerLink]="['profile']" routerLinkActive="activebutton">Profile</button>
    <button mat-stroked-button color="primary" [routerLink]="['about', 123]">About</button>
    <button mat-stroked-button color="primary">Contact Us</button>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>