.nav-Main {
    display: flex;
    justify-content: space-between;

    .nav-btns {

        .mat-mdc-button-base {
            margin: 8px 8px 8px 0;
        }

        button{
            width: 100px;
        }
    }
    .activebutton{
        background-color: rgb(51, 51, 51);
        color: white;
    }
}

.navigate-btn{
    display: flex;
    justify-content: center;

    button{
        width: 200px;
        margin: 20px 10px;
    }
}