<div class="child-btns">
    <button mat-raised-button color="primary" [routerLink]="'child-one'">Primary</button>
    <button mat-raised-button color="primary" [routerLink]="'child-two'">Secondary</button>
    <button mat-raised-button color="primary" [routerLink]="['child-3']">Third</button>
</div>

<router-outlet></router-outlet> 
<!-- <div class="bg-overlay" *ngIf="displayLodingBar">
    <div class="spinner-load" *ngIf="displayLodingBar"></div>
</div> -->

<!-- remove it, this just for demo purpuse-->
<div class="spinner-load" *ngIf="!displayLodingBar"></div>