<div class="guard-btns">
    <button mat-raised-button routerLink="can-activate"> CanActivate</button>
    <button mat-raised-button routerLink="can-activate-child">CanActivateChild</button>
    <button mat-raised-button [routerLink]="['can-deactivate']">CanDeactivate</button>
    <button mat-raised-button [routerLink]="['can-load']">CanLoad</button>
    <button mat-raised-button [routerLink]="['can-match']">CanMatch</button>
    <button mat-raised-button [routerLink]="['can-resolve']">CanResolve</button>
</div>